<div class="container">
    <header>
        <h1>Burger Bonanza</h1>
        <h2>Add a burger that you would like to eat to your list.
            Once you hace consumed it, click devour, and it will 
            mover to the devoured list.
        </h2>
    </header>
</div>