<h1>Burgers!</h1>

    <section class="row">
        <h2>
            Add a burger that you would like to eat to your list.
            Once you hace consumed it, click devour, and it will 
            mover to the devoured list.
        </h2>

        <div class="col-md-3"></div>

        <form id="create-form" action="/burgers/insertOne" class="insertOne col-md-6" method="POST">
            <input type="text" id="enter-burger" name="burger_name" class="form-control">
            <button type="submit" class='btn-default' id="newBurger">Add a Burger</button>
        </form>
    </section>

<h2>Burgers on menu</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>
