body, html {
    height: 100%;
    width: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../img/burger.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
    text-align: center;
    font-size: 48px;
    margin: 20px;
}

h2 {
    text-align: center;
    margin: 20px;
}


form {
    text-align: center;
}

#newBurger {
    margin: 20px;
}

#burger-list {
    text-align: center;
    background-color: white;
    margin: 20px;
    padding: 10px;
    border: 5px solid green;
    border-radius: 45px;
}

.eatBurger {
    border-radius: 15px;
    border: 1px solid black;
}

.eatBurger:hover {
    background-color: rgb(69, 208, 69);
}

#newBurger {
    padding: 10px;
    border-radius: 15px;
    border:black solid 3px;
}

#newBurger:hover {
    background-color: rgb(69, 208, 69);
}
